
.button {
  width: 40px;
  height: 40px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace;

  background-color: #673ab7;
  background-color: var(--color-2);
  color: white;
  cursor: pointer;
  font-weight: 900;
}
